.hero-image{
    width: 30rem;
   
}
.desktop-hero{
    display: block;
    width: 100%;
    animation: visibleAnime 1s ease-in;
}
.mobile-hero{
    display: none;
    
}

@media screen and (max-width:1000px) {
    .hero-image{
        width: 100%;
    }

    .desktop-hero{
        display: none;
    }
    .mobile-hero{
        display: block;
        width: 100%;
        animation: visibleAnime 1s ease-in-out;
    }
}
